body {
    color: #40514E;
    text-align: center;
    /* font-family: Verdana;  */
    font-family: 'Merriweather', serif;
    background-color: #ffffff;
    margin: 0;
}

p {
    color: rgb(11, 11, 65);
    /* font-size: 20px; */
    /* font-family: 'Montserrat', sans-serif; */

}

.bio {
    color: #25cacad2;
    font-size: 2rem;
    font-weight: normal;
}

h1 {

    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.4rem;
    color: #3bc0c0d2;
    line-height: 2;
}

h2 {
    font-family: 'Proza Libre', sans-serif;
    color: #169c7fd2;
    font-size: 2rem;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #25cacad2;

}

hr {
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    border-width: 6px;
    width: 10%;
    border-color: rgba(186, 230, 231, 0.582);
}

.birds1 {
    position: absolute;
    left: 150px;
    width: 150px;
    top: 240px;

}

.birds3 {
    position: absolute;
    margin: 0;
    width: 350px;
    left: 400px;
    top: 200px;
}

.top {
    position: relative;
    background-color: #caf4f7c0;
    padding-top: 82px;
    

}

.topcl {
    position: relative;
    left: 300px;

}

.bottomcl {
    position: absolute;
    left: 250px;



}

.profile {
    margin: 50px auto;
}

.me {
    height: 350px;
    width: 250px;
    position: relative;

    border-radius: 40px;
    border-width: 2px;
    /* border-style: solid;
    border-color: #140e46; */

}


/* .btn
{
    position: relative;
    border-style: none;
    border-radius: 200px;
    background-color:#f3f3f7;
    padding:10px;
    border-style:solid;
    border-color: #f3f3f7;
} */

.skills {
    margin-top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dance-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* .code-wrap
{
    clear: left;
}

.dance-wrap
{
    clear: right;
} */

.btn {

    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 33;
    -moz-border-radius: 33;
    border-radius: 8px;
    font-family: 'Proza Libre', sans-serif;
    /* font-family: 'Mochiy Pop P One', sans-serif; */
    color: #fcf7fc;
    font-size: 1.4rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}


.contact {
    width: 40%;
    margin: 40px auto 60px ;
    line-height: 2;
}

.bottom-container {
    background-color: #66BFBF;
    margin-top: 30px;
    padding: 50px 0 20px;
}

/* .footer
  {
      margin-top: 30px;
      background-color: #3cb0b4;
      padding: 50px 30px 30px 30px;
  } */
  a{
      color: #11999E;
      margin: 10px 20px;
      text-decoration: none;
      font-family: 'Mochiy Pop P One', sans-serif;
  }
  a:hover{
      color: #EAF6F6;
  }
  .copyright{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.2rem;
    color: #EAF6F6;
    padding: 20px 0;
  }